
body, html {
    height: 100%;
  }  


/* JUMBOTRON */
.jumbotron{
    background-image: url('../Assets/background.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotronButton a{
    background-color: #5eacdd;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 45px;
    
}

.jumbotronButton a:hover{
    background-color: #1b4e6b;
    color: white;
    padding: 16px 45px;
    transition: 0.5s;
}

.jumbotronButton {
    padding-top: 550px;
    /* padding-left: 80px; */
}

/* SUBSECTIONS (CARDS CONTAINER) */

.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 95px;
    padding-right: 150px;
    padding-bottom: 20px;
}

.bawah{
    display: flex;
    justify-content: space-evenly;
}

.subSection{
    padding: 80px 0;
}

.title h1{
    color: #1b4e6b;
    font-weight: bold;
}

.seeMore a{
    color: grey;
    text-decoration: none;
}

.seeMore a:hover{
    transition: 0.3s;
    color: black;
}

/* CARD */

.kartu{
    width: 20rem;
    border-width: 1px;
    border-style: outset;
    border-radius: 30px;
    padding: 30px;
    box-shadow: -16px 10px 5px 0px rgba(167,164,164,0.75);
    -webkit-box-shadow: -16px 10px 5px 0px rgba(167,164,164,0.75);
    -moz-box-shadow: -16px 10px 5px 0px rgba(167,164,164,0.75);
}

.card-title{
    text-align: center;
    padding-bottom: 5px;
}

.card-text{
    text-align: justify;
    font-size: 12px;
}

.card img{
    /* width: 80%; */
    align-self: center;
    padding: 15px;
}

.kartu-body{
    padding-top: 20px;
}

.titleHref{
    text-decoration: none;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.titleHref{
    color: #e8bd3b;
}

.titleHref:hover{
    color: #1b4e6b;
    transition: 0.3s;
}

.card-date{
    font-size: 10px;
}

.article-title{
    color: #1b4e6b;
    font-size: medium;
}

.article-title:hover{
    color: #e8bd3b;
    transition: 0.3s;
}

.category{
    padding-bottom: 20px;
}

.event-category{
    color: white;
    background-color: #e8bd3b;
    padding: 5px 12px;
    font-size: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}

.event-category:hover{
    color: white;
    background-color: #1b4e6b;
    transition: 0.3s;
}

.event-title{
    text-align: left;
    font-size: 12px;
}

.event-details{
    color: #e8bd3b;
    font-size: 12px;
}

.sosmed{
    padding-bottom: 15px;
}

.contactUs{
    display: flex;
    justify-content: center;
}

.contactUsRight{
    background-color: #1b4e6b;
    padding: 20px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.contactUsRight h3{
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: inherit;
    color: #ffde59;
}

.contactUsLeft{
    background-color: #ffde59;
    padding: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.email{
    padding-bottom: 20px;
}

.email input{
    width: 450px;
    height: 40px;
    padding-left: 10px;
}

.message textarea{
    padding-top: 10px;
    padding-left: 10px;
    width: 450px;
    height: 150px;
}

.sendButton{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendButton button{
    color: #1b4e6b;
    background-color: #ffde59;
    border-radius: 20px;
    padding: 5px 100px;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
}

.sendButton button:hover{
    color: white;
    background-color: #5eacdd;
    transition: 0.5s;
}

/* INPUT HINT */
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
    font-size: 12px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   font-size: 12px;

  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 12px;
    color: black;
  }

   /*FOOTER*/
.ftr-content{
    padding-bottom:  22px;
  }
  
  .ftr-title{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  
  .ftr-p{
    font-size: 13px;
    font-weight: 400;
    color: black;
  }
  
  .txt-copy{
    color: black;
    font-weight: 600;
    font-size: 12px;
  }