* {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Styling Jumbotron */
  .Jumbotron {
    padding-top: 180px;
    padding: 150px;
    background-image: url('./Assets/About\ CC\ \ \(3\)\ 4.png');
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: center;
    color: #0b38b6;
    margin-bottom: 100px;
  }

  .Jumbotron h1{
    font-size: 40px;
    font-weight: 700;
  }
  /* End Styling Jumbotron */
  
  /* Styling Main article */
  
  .isi-article h3 {
      font-weight: 600;
      text-align: center;
      font-size: large;
  }
  
  .isi-article h4 {
      text-align: center;
      font-weight: 400;
      font-size: small;
      margin-bottom: 8px;
      
  }
  
  .isi-article p {
    line-height: 25px;
    text-align: justify;
    font-weight: 400;
    font-size: smaller;
    line-height: 30px;
  }
  /* ENd Styling Main Article */
  
  /* Styling Info and Media */
  .info-title h6 {
    font-weight: 600;
    font-size: large;
    color: dimgray;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .info-desc h6 {
    font-weight: 600;
    font-size: 11px;
    color: dimgray;
    text-align: left;
  }
  
  .line-button {
    background-color: rgba(105, 105, 105, 0.267);
    height: 2px;
    margin: 10px 0 20px 0;
    width: 100%;
    border-radius: 20px;
  }
  
  .media-icon {
    display: flex;
  }
  
  .icon-title h6 {
    font-weight: 600;
    font-size: large;
    color: dimgray;
    text-align: left;
  }
  
  .icon-img i{
    color: dimgray;
    margin-right: 10px;
  }
  
  .icon-img {
    margin-left: 70px;
  }

 .btn-but{
    color: #ffde59;
    background-color:#1b4e6b ;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px ;
 }
 
  /* End Styling Info and Media */