@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*
* {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Styling Jumbotron */
  .Jumbotron {
    padding-top: 180px;
    padding: 150px;
    background-image: url('./Assets/top.png');
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: center;
    color: #0b38b6;
    margin-bottom: 100px;
  }*/

  .Jumbotron h1{
    font-size: 40px;
    font-weight: 700;
  }
  /* End Styling Jumbotron */
  
  /* Styling Main article */
  
  .isi-article h3 {
      font-weight: 600;
      text-align: center;
      font-size: large;
  }
  
  .isi-article h4 {
      text-align: center;
      font-weight: 400;
      font-size: small;
      margin-bottom: 8px;
      
  }
  
  .isi-article p {
    line-height: 25px;
    text-align: justify;
    font-weight: 400;
    font-size: smaller;
    line-height: 30px;
  }
  /* ENd Styling Main Article */
  
  /* Styling Info and Media */
  .info-title h6 {
    font-weight: 600;
    font-size: large;
    color: dimgray;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .info-desc h6 {
    font-weight: 600;
    font-size: 11px;
    color: dimgray;
    text-align: left;
  }
  
  .line-button {
    background-color: rgba(105, 105, 105, 0.267);
    height: 2px;
    margin: 10px 0 20px 0;
    width: 100%;
    border-radius: 20px;
  }
  
  .media-icon {
    display: flex;
  }
  
  .icon-title h6 {
    font-weight: 600;
    font-size: large;
    color: dimgray;
    text-align: left;
  }
  
  .icon-img i{
    color: dimgray;
    margin-right: 10px;
  }
  
  .icon-img {
    margin-left: 70px;
  }

 .btn-but{
    color: #ffde59;
    background-color:#1b4e6b ;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px ;
 }

 .fun-title{
  background-image: url(./images/top.png);
  background-position: center;
  background-size: cover;
}

.title{
  font-size: 38px;
}

 /*FOOTER*/
.ftr-content{
  padding-bottom:  22px;
}

.ftr-title{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.ftr-p{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.txt-copy{
  color: black;
  font-weight: 600;
  font-size: 12px;
}