.ourProgramAtas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.ourProgramBawah{
    display: flex;
    justify-content: space-between;
    
}