@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body{
    padding: 0 rem;
}

.fun-title{
  background-image: url(./images/top.png);
  background-position: center;
  background-size: cover;
}

.title{
  font-size: 38px;
}

.sc-title{
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
  color: #2F668F;
  
}


.card-style {
  transition: all 0.5s ease-out;
    border-style: none;
    padding: 0.5rem; 
    border-radius: 30px;
    box-shadow: 0 2px 6px 0 rgba(137, 137, 137, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.1);
  }


.card-style:hover{
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
  }

.card-title{
  font-weight: 700;
  color: #004C84;
  text-align: center;
}

.card-text{
  font-size: 14px;
  text-align: justify;
  font-weight: 500;
}

.btn{
  color: #ffde59;
  background-color: #1b4e6b;
 
}

.btn:hover{
  color: #fff;
  background-color: #1b4e6b;
}


/*FOOTER*/
.ftr-content{
  padding-bottom:  22px;
}

.ftr-title{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.ftr-p{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.txt-copy{
  color: black;
  font-weight: 600;
  font-size: 12px;
}