@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}
.Jumbotron {
  padding-top: 180px;
  padding: 100px;
  background-image: url('../Assets/Event/jumbotorn.png');
  background-position: center;
  background-size: cover;
  height: 300px;
  text-align: center;
  color: #0b38b6;
  margin-bottom: -60px;
}

.Jumbotron h1{
  padding: 60px;
  font-weight: bold;
  font-size: 50px;
}

.title-pisah1{
  padding-top: 100px;
  padding-bottom: 50px;
}
.title-pisah2{
  padding-top: 30px;
  padding-bottom: 50px;
}

.title-pisah1 h4{
  text-align: center;
  font-weight: bold;
  font-size: 30px;

  
}

.title-pisah2 h4{
  text-align: center;
  font-weight: bold;
  font-size: 30px;

  
}


.articel-card{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.card-body h6 {
    text-transform: uppercase;
    font-size: 12px; 
   
}

.card-body h5 {
    color: #222;
  text-decoration: none;
  font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.card-body h5:hover {
    color: rgba(21, 69, 201, 0.7);;
  text-decoration: none;
  font-weight: bold;
}

.card-body span {
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.articel-card {
  max-height: 530px;
}

.card-text{
  max-height: 83px;
  overflow: hidden;
}